<h2>{{title}}</h2>
<ng-template #renderObject let-fields='fields' let-name='name'>
    <table class="all-tables">
        <tr style="display:none;"><td><div>AAAAA{{getLongestName(fields, name)}}</div></td><div>AAAAA{{getLongestValue(fields, name)}}</div></tr>
        <tr *ngFor="let field of fields"><ng-container [ngTemplateOutlet]="renderField" [ngTemplateOutletContext]="{fieldSpec: field}"></ng-container></tr>
    </table>
</ng-template>
<ng-template #renderField let-fieldSpec='fieldSpec'>
    <td class="all-cells all-label-cells no-border"><label>{{fieldSpec.name}}</label></td>
    <td class="all-cells all-field-cells no-border">
        <ng-template [ngIf]="fieldSpec.isPicklist"><select id="{{fieldSpec.name}}">
            <option *ngFor="let option of fieldSpec.specification.choices" selected="{{option === fieldSpec.value}}">{{option}}</option>
        </select><</ng-template>
        <ng-template [ngIf]="fieldSpec.isScalar"><input type="text" id="{{fieldSpec.name}}" value="{{fieldSpec.value}}"></ng-template>
        <ng-template [ngIf]="fieldSpec.isFunction"><textArea>{{fieldSpec.value}}</textArea></ng-template>
        <div *ngIf="fieldSpec.isObject" class="border"><ng-container [ngTemplateOutlet]="renderObject" [ngTemplateOutletContext]="{fields: fieldSpec.renderableFields, name: fieldSpec.name}"></ng-container></div>
    </td>
</ng-template>
<ng-container>
    <form class="no-border">
        <ng-container [ngTemplateOutlet]="renderObject" [ngTemplateOutletContext]="{fields: getFields(), name: 'TOP'}"></ng-container>
    </form>
</ng-container>
                