<h2>{{module.name}}</h2>
<table class="all-tables">
    <tr style="display:none;"><td><div>AAAAA{{getLongestName()}}</div></td><div>AAAAA{{getLongestValue()}}</div></tr>
    <tr *ngFor="let field of module.fields">
        <td class="all-cells all-label-cells"><label ngbTooltip="{{field.description}}">{{field.name}}</label></td>
        <td class="all-cells all-field-cells">
            <app-input-field [field]="field"></app-input-field>
        </td>
    </tr>
    <tr>
        <td><button (click)="reset()">Reset</button></td>
        <td><button (click)="submit()">Submit</button></td>
    </tr>
</table>
