<select id="{{field.id}}" class="form-control" *ngIf="field.isPicklist">
    <option *ngFor="let option of field.specification.choices" selected="{{option === field.value}}">{{option}}</option>
</select>
<input id="{{field.id}}" class="form-control"  *ngIf="field.isScalar" 
    type="{{['bigint', 'number'].includes(field.scalartype) ? 'number' : 'text'}}"
    value="{{field.value}}">
<textArea id="{{field.name}}" class="form-control" *ngIf="field.isFunction">{{field.value}}</textArea>
<app-input-array *ngIf="field.isArray" [field]="field"></app-input-array>
<div id="{{field.id}}" *ngIf="field.isObject" class="border">
    <app-input-object [fields]="field.renderableFields"></app-input-object>
</div>
