<select *ngIf="field.isPicklist" id="{{field.id}}" class="form-control"
    (change)="setValue($event.target.value)">
    <option *ngFor="let option of field.specification.choices" 
        [selected]="isValue(option)">{{option}}</option>
</select>
<input *ngIf="field.isScalar" id="{{field.id}}" class="form-control" 
    type="{{['bigint', 'number'].includes(field.scalartype) ? 'number' : 'text'}}"
    (change)="setValue($event.target.value)"
    [value]="field.value">
<textArea *ngIf="field.isFunction" id="{{field.name}}" class="form-control" 
    (change)="setValue($event.target.value)"
    [value]="field.value"></textArea>
<app-input-array *ngIf="field.isArray" [field]="field"></app-input-array>
<div id="{{field.id}}" *ngIf="field.isObject" class="border">
    <app-input-object [fields]="field.renderableFields"></app-input-object>
</div>
